body{
    margin: 0;
}

header{
    background-color: #FEE4C3;
    height: 160px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 40px;
    & > img{
        margin: 50px;
        height: 60px;
        aspect-ratio: 1;
    }
}

footer{
    text-align: start;
    font-size: 25px;
    padding: 10px;
    width: 100%;
    vertical-align: middle;
    background-color: #268264;
    position:fixed;
    bottom: 0;
}
nav{
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    
    & > button{
        width: 400px;
        height: 40px;
        font-size: larger;
        align-items: center;
        background-color: #268264;
        border-radius: 30px;
        & > a{
            color: whitesmoke;
            text-decoration: none;
        }
    }
    & > button:hover{
        box-shadow: 8px 8px 5px #268264;
    }
    & > a:link{
        color: whitesmoke;
        text-decoration: none;
    }
    & > a:visited{
        color: whitesmoke;
        text-decoration: none;
    }
}


main {
    background-color: #7D6B6D;
    min-height: calc(100vh - 160px - 60px); /* Altezza dinamica meno header e nav */
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px;
    box-sizing: border-box;
}

/* Card della Index */
.card-home {
    background-color: #92EF91;
    border: 1px solid black;
    width: 350px;
    padding: 20px;
    text-align: center;
    
    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        margin-bottom: 15px;
    }
    
    p { font-size: 18px; line-height: 1.4; }
    a { color: blue; }
}

/* Box a scorrimento della Pagina 1 */

.main-content{
    align-items: center;
    justify-content: space-evenly;
}

.scroll-box {
    background-color: #92EF91;
    border: 1px solid black;
    width: 500px;
    height: 500px;
    overflow-y: scroll;
    padding: 20px;
    display: inline-block;
    margin: auto 20px;

    .pianta {
        display: flex;
        gap: 15px;
        margin-bottom: 30px;
        
        img { width: 150px; border: 1px solid white; }
        
        h4 { 
            color: blue; 
            margin: 0; 
            text-decoration: underline; 
            font-size: 20px;
        }
    }
}