body{
    margin: 0;
}

header{
    background-color: #FEE4C3;
    height: 160px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 40px;
    & > img{
        margin: 50px;
        height: 60px;
        aspect-ratio: 1;
    }
}

footer{
    text-align: start;
    font-size: 25px;
    padding: 10px;
    width: 100%;
    vertical-align: middle;
    background-color: #268264;
    position:fixed;
    bottom: 0;
}
nav{
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    
    & > button{
        width: 400px;
        height: 40px;
        font-size: larger;
        align-items: center;
        background-color: #268264;
        border-radius: 30px;
        & > a{
            color: whitesmoke;
            text-decoration: none;
        }
    }
    & > button:hover{
        box-shadow: 8px 8px 5px #268264;
    }
    & > a:link{
        color: whitesmoke;
        text-decoration: none;
    }
    & > a:visited{
        color: whitesmoke;
        text-decoration: none;
    }
}

